.ChatsWrapper {
    width: 100%;
    height: 90%;
    overflow-x: hidden;

    

}

.User {
    width: 100%;
    
}

.User1 {
    color: white;
    width: 70%;
    border-radius: 10px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    /* float: right; */
    justify-content: right;
    
    align-items: flex-end;
}

.User2 {

    display: flex;
    margin: 2%;


    width: 70%;

}

.User1Message {


    background-color: black;
    width: fit-content;
    border-radius: 10px;
    padding: 1%;

    margin: 1%;
    word-break: break-word;
}

.User1Time {
    color: black;
    padding-top: 8px;
}

.User2Message {
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    word-break: break-word;
    border-radius: 10px;
    padding: 1%;

}

.User1Box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.User2Box {

    width: 100%
}

.Message1 {
    width: 100%;
    display: flex;
    justify-content: right;
}

.User1Image {
    color: black;
    padding-top: 1%;
}

.User2Image {
    width: 40px
}

.Message {
    width: 90%;
}

.dot{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    right: 6px;
    bottom: -8px;
    
}