html,body{
  width: 100%;
  background-color: #F7F9FC;
  height:100vh;
  font-family:sans-serif;
}
.MakeFlex{
  display: flex;
  width: 100%;
}

.AppClass{
  padding: 2.5%;
  height: 100vh;
  
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Details{
  width: 25px;
  height: 15px;
  padding-right: 5px;
}

.avatar:hover{
  cursor:pointer;
}